<section class="flex-col pb-24 pt-9 md:pt-24">
    <h2 class="text-3xl font-lora ml-9 md:ml-32">Autres voyages</h2>
    <div class="flex justify-center items-center mt-9">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-7 w-[90vw] md:w-[70vw]">
            <a *ngFor="let travel of posts" routerLink="/post/{{travel.id}}" class="w-[100px] h-[100px]">
                <p>{{travel.country}}</p>
                <p>{{travel.city}}</p>
                <p>Du {{travel.startDate | date:'dd.MM.yy'}}
                    <br>au {{travel.returnDate | date:'dd.MM.yy'}}
                </p>
            </a>
        </div>
    </div>
</section>