<section class="flex-col pb-24 pt-9 md:pt-24">
    <h2 class="text-3xl font-lora">Autres voyages</h2>
    <div class="flex justify-center items-center mt-9">

        <div class="grid grid-cols-1 md:grid-cols-2 gap-11 md:gap-7 w-[90vw] md:w-[70vw]">
            <a *ngFor="let travel of posts" routerLink="/post/{{travel.id}}"
                class="w-full h-[370px] md:h-[500px] overflow-hidden">

                <img src="{{travel.mainPicture.img}}" alt="{{travel.mainPicture.altText}}"
                    class="object-cover h-72 w-[90vw] md:h-96 hover:scale-110 transition-transform">

                <div class="bg-orange text-white flex items-center justify-between relative">
                    <div class="pl-5 md:p-7">
                        <p class="font-lora text-xl md:text-2xl">{{travel.country}}</p>
                        <p class="font-inter text-sm md:text-base">{{travel.city}}</p>
                    </div>
                    <p class="font-inter text-xs border-l-[1px] p-5 md:p-8 md:text-base whitespace-nowrap text-right">Du
                        {{travel.startDate | date:'dd.MM.yy'}}
                        <br>au {{travel.returnDate | date:'dd.MM.yy'}}
                    </p>
                </div>

            </a>
        </div>

    </div>
</section>