<header class="flex justify-between items-center font-inter h-[70px] bg-beige md:fixed md:h-full md:flex-col md:w-[160px]">
    <a routerLink="" class="md:-rotate-90">
        <h1
        class="p-[18px] md:p-[60px] md:pl-12 md:text-3xl md:border-solid md:border-[1px] md:border-l-black md:border-transparent whitespace-nowrap">
        Carnet de voyages</h1></a>
    <p
        class="p-[18px] text-xs border-solid border-[1px] border-transparent border-l-black md:p-[50px] md:text-base md:-rotate-90 md:border-r-black md:border-transparent">
        Tirana <br>☀︎ 31°C</p>
</header>